/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Open Sans, Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

#header_brand {
  float: left;
  padding: 0 10px 10px 60px;
  color: white;
}

#tagline {
  font-size: 24px;
  font-weight: 600;
  color: white;
  clear: both;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

#btn1 {
  font-weight: 800;
  font-size: 14px;
  background-color: #f9e42e;
  color: #033048;
  padding: 10px 40px 10px 40px;
}

#btn2 {
  font-weight: 800;
  font-size: 12px;
  background-color: #033048;
  color: white;
  padding: 10px 50px 10px 50px;
}

.btn {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

#sun {
  background-color: #f9e42e;
  padding: 30px 0;
}

.brand {
  font-size: 24px;
  font-weight: 800;
}

#bene {
  background-color: #f0efef;
  padding-bottom: 20px;
}

#benefits {
  font-size: 20px;
  font-weight: 600;
  color: #033048;
  margin-top: 0;
  padding-top: 20px;
}

#benefits_summary {
  font-size: 13px;
  font-weight: 300;
  color: #606161;
}

ul {
  font-size: 13px;
  font-weight: 300;
  color: #606161;
}

#quote_background {
  background: url(../images/testimonial_bg.jpg);
  height: 394px;
}

#quote {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: white;
  text-align: center;
  width: 300px;
  margin: auto;
  padding-top: 125px;
}

#amanda {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  height: 700px;
}

footer {
  background-color: #121212;
  color: white;
  text-align: center;
}

#footer_brand {
  color: #f9e42e;
  margin-top: 0;
  padding-top: 30px;
}

.social_media {
  margin: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




